.descriptionWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.previewCaption {
  font: 500 18px/22px "Montserrat";
  letter-spacing: 0.04em;
  color: #181c27;
}
.previewCaption_dark {
  composes: previewCaption;
  color: #ffffff;
}

.download {
  width: 131px;
  background-color: #181c27;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  border: none;
  padding: 8px 16px 8px 38px;
  font: normal 14px/17px "Montserrat";
  letter-spacing: 0.04em;
  color: #ffffff;
  background-image: url("./download.svg");
  background-repeat: no-repeat;
  background-position: left 20px center;
}
.download_dark {
  composes: download;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  background-image: url("./download_dark.svg");
}

.saveWrapper {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectLink {
  text-decoration: none;
}
.select {
  font: 500 14px/17px "Montserrat";
  letter-spacing: 0.04em;
  color: #181c27;
  padding-top: 9px;
}
.select::before {
  display: inline-block;
  content: "";
  background-image: url("./select.svg");
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.select_dark {
  composes: select;
  color: #ffffff;
}
.select_dark::before {
  background-image: url("./select_dark.svg");
}

.saveBtn {
  width: 131px;
  background: #ff6b08;
  box-shadow: 0px 1px 4px rgba(255, 107, 8, 0.12),
    0px 1px 1px rgba(255, 107, 8, 0.16), 0px 1px 4px rgba(255, 107, 8, 0.2);
  border-radius: 25px;
  border: none;
  padding: 8px 48px;

  font: 500 14px/17px "Montserrat";
  letter-spacing: 0.04em;
  color: #ffffff;
}

.container {
  width: 640px;
  min-height: calc(100vh - 125px);
}
